# Ignore everything
*

# But not these files...
!/.gitignore

!*.go
!go.sum
!go.mod
!*.svg
!*.jpg
!README.md
!LICENSE

!Dockerfile-base

!*.c
!*.java
!*.h
!*.rs
!*.sh
!*.py
!*.cs

# !Makefile

# ...even if they are in subdirectories
!*/